apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: nginx-deployment
  name: nginx-deployment
  namespace: giropops  
spec:
  replicas: 3
  revisionHistoryLimit: 10  
  selector:
    matchLabels: 
      app: nginx-deployment
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1 
      maxUnavailable: 1   
  template:
    metadata: 
      labels:
        app: nginx-deployment
    spec:
      containers:
      - image: nginx:1.14.0
        name: nginx-opa
        resources:
          limits:
            cpu: 0.2
            memory: 200Mi
          requests:
            cpu: 0.2
            memory: 128Mi
